AccessModifierOffset: '-4'
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: Never
BreakBeforeBraces: Mozilla
BreakConstructorInitializers: AfterColon
BinPackParameters: 'false'
BinPackArguments: 'false'
ColumnLimit: '100'
ConstructorInitializerAllOnOneLineOrOnePerLine: 'true'
IndentWidth: '4'
PointerAlignment: Left
QualifierAlignment: Right

