---
BasedOnStyle: LLVM
AccessModifierOffset: '-4'
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: 'false'
BreakBeforeBraces: Mozilla
ColumnLimit: '120'
IndentWidth: '4'
Language: Cpp
PointerAlignment: Right

...
